<% provide(:title, "Log in") %>

<div class="login-container">
  <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h1 class="font-weight-light">Log in</h1>
  <div class="signin-form">
    <%= bootstrap_form_with(url: "/login", local: true) do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <small id="emailHelp" class="form-text text-muted">New user? <%= link_to "Sign up now", root_path %>.</small>
      </div>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
